@using Exchange.Site.Models.Home
@using Exchange.Site.Models.Home.Profit
@using Microsoft.Extensions.Options
@model PeriodForm
@inject IOptionsSnapshot<ProfitCalculatorOptions> OptionsSnapshot

<form method="post" asp-controller="Home" asp-action="Index">
    <div class="form-group">
        <label asp-for="Amount">Amount of money</label>
        <input type="number" asp-for="Amount" class="form-control" required
               placeholder="@OptionsSnapshot.Value.FromIsoCode"/>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Start date</label>
        <input type="date" class="form-control" asp-for="StartDate" required/>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">End date</label>
        <input type="date" class="form-control" asp-for="EndDate" required/>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>