﻿@model Exchange.Site.Models.Home.PeriodForm
@{
    ViewData["Title"] = "Home Page";
}

<div class="justify-content-center">
    <div class="col-12 col-md-8 col-xl-4">
        @await Html.PartialAsync("_PeriodForm", Model)
    </div>
</div>