﻿@model Exchange.Site.Models.Home.Currencies.Rates.RatesModel

<table class="table table-striped row justify-content-center m-0">
    <tr>
        <th scope="col">Date</th>
        @foreach (var header in Model.Header)
        {
            <th scope="col">@header</th>
        }
    </tr>
    @foreach (var row in Model.Rows)
    {
        <tr>
            <td>@row.Date.ToString("dd MMM")</td>
            @foreach (var rate in row.Rates)
            {
                <td>@rate.ToString("0.0000")</td>
            }
        </tr>
    }
</table>

<div class="row justify-content-center m-0 p-2">
    @await Html.PartialAsync("_Profit", Model.Profit)
</div>